Debug/empty_test.log
Debug/empty_test.tlog/cl.command.1.tlog
Debug/empty_test.tlog/CL.read.1.tlog
Debug/empty_test.tlog/CL.write.1.tlog
Debug/empty_test.tlog/empty_test.lastbuildstate
Debug/empty_test.tlog/link.command.1.tlog
Debug/empty_test.tlog/link.read.1.tlog
Debug/empty_test.tlog/link.write.1.tlog
Debug/main.obj
Debug/vc120.idb
Debug/vc120.pdb
own_test/
